{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Assignment Listing</h1>
    <ul>
        {% for item in assignment_listing %}
        <li>
            <a href="{{item.url}}">{{item.name}}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}