{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <h1>Assignment: {{assignment_data.routeName}}</h1>
    {% for paragraph in assignment_data.description%}
    <p class="important">
        {{paragraph}}
    </p>
    {% endfor %}
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <form enctype="multipart/form-data" action="{{assignment_data.uploadPath}}" method="post">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="file_to_test" name="file_to_test">
                        <input class="btn btn-primary mb-2" id="submit-file" type="submit" value="Submit Test"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if assignment_data.attempts|length > 0 %}
            <div class="accordion" id="results">
                {% for attempt in assignment_data.attempts | reverse %}
                <div class="card">
                    <div class="card-header" id="{{'heading' + attempt.number|string}}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button"
                            data-toggle="collapse"
                            aria-expanded="false"
                            data-target="#{{'collapse' + attempt.number|string}}"
                            aria-controls="{{'collapse' + attempt.number|string}}">
                            Attempt {{attempt.number|string}}
                        </button>
                    </h2>
                </div>
                <div id="{{'collapse' + attempt.number|string}}" class="collapse" aria-labelledby="headingOne" data-parent="#results">
                    <div class="row">
                        <div class="col">
                            <div class="card-body">
                                <h2>Submission</h2>
                                <pre><code class="python">{{attempt.submission}}</code></pre>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h2>Results</h2>
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        {% for result in attempt.results %}
                                        <li class="list-group-item">
                                            <span class="{{'text-success' if result.passed else 'text-danger'}}">
                                                {{result.input if result.show else 'Hidden Test'}}
                                            </span>
                                            <span style="float: right" class="{{'text-success' if result.passed else 'text-danger'}}">
                                                {{'PASSED' if result.passed else 'FAILED'}}
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        No Attempts Have Been Made
                    </h2>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}