<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/css/zenburn.css">
  <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/assignments">Python Testing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/assignments">Assignments</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2019 by Shib Duman
    {% endblock %}
  </div>
  <script src="../static/js/jquery-3.4.1.slim.min.js"></script>
  <script src="../static/js/popper.minjs"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
