{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
      Upload your test files here
    </p>
    <label class="btn btn-default">
    	Dickery <input type="file">
    </label>
    <form enctype="multipart/form-data" action="/uploadFiles" method="post">
    	<input id="uploaded-file" type="file" />
    	<input id="submit-file" type="submit" value="Submit"/>
    </form>
{% endblock %}